
/* Center the whole container */

.center-wrapper {

 width: 100%;

 max-width: 820px;

 margin: auto;


 

}


 

/* MAIN CARD */

.pin-card {

 display: flex;

 margin: 40px auto;

 max-width: 1000px;

 background: white;

 border-radius: 40px;

 height: 450px;

 overflow: hidden;

 box-shadow: 0 8px 24px rgba(0,0,0,0.08);

}


 

/* LEFT IMAGE */

.left-image {

 width: 55%;

 background: #eee;

}


 

.left-image img {

 width: 100%;

 height: 100%;

 object-fit: cover;

 border-radius: 40px 0 0 40px;

}


 

/* RIGHT PANEL */

.right-panel {

 width: 45%;

 padding: 20px;

}


 

/* TOP BUTTONS */

.top-buttons {

 display: flex;

 justify-content: flex-end;

 gap: 10px;

}


 

/* Like button active */

.liked {

 color: red !important;

}


 

.circle-btn {

 width: 40px;

 height: 40px;

 border-radius: 50%;

 background: #f3f3f3;

 border: none;

 display: flex;

 align-items: center;

 justify-content: center;

 cursor: pointer;

}


 

/* Save */

.save-btn {

 background: #e60023;

 color: white;

 padding: 8px 14px;

 border-radius: 20px;

 display: flex;

 gap: 6px;

 align-items: center;

 border: none;

 cursor: pointer;

}


 

/* Download */

.download-btn {

 background: white;

 border: 1px solid #ffc7d0;

 color: #e60023;

 padding: 8px 14px;

 border-radius: 20px;

 display: flex;

 gap: 6px;

 align-items: center;

 cursor: pointer;

}


 

/* META */

.likes {

 margin-top: 10px;

 color: #777;

}


 

.pin-title {

 font-size: 22px;

 font-weight: 700;

}


 

/* USER INFO */

.user-info {

 margin: 8px 0;

 display: flex;

 align-items: center;

 gap: 10px;

}


 

.user-avatar {

 width: 40px;

 height: 40px;

 border-radius: 50%;

}


 

/* RELATED BOARDS */

.related-boards {

 margin-top: 20px;

}


 

.boards-list {

 display: flex;

 gap: 15px;

}


 

.board-card {

 width: 120px;

 border-radius: 10px;

 overflow: hidden;

 text-align: center;

 background: #fafafa;

}


 

/* EXPLORE */

.explore-title {

 text-align: center;

 font-size: 20px;

 font-weight: 600;

}


 

.explore-grid {

 margin-top: 10px;

 display: grid;

 justify-content: center;

 grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));

 gap: 15px;

}


 

.explore-item img {

 width: 100%;

 height: 220px;

 border-radius: 12px;

 object-fit: cover;

}