
.board-page {

 padding: 15px;

}


 

.board-header {

 display: flex;

 align-items: center;

 gap: 10px;

}


 

.back-btn {

 font-size: 22px;

 cursor: pointer;

}


 

.board-search {

 width: 100%;

 padding: 10px;

 border: 1px solid #ccc;

 border-radius: 8px;

 margin: 15px 0;

}


 

.board-list {

 display: flex;

 flex-direction: column;

 gap: 12px;

}


 

.board-card {

 display: flex;

 align-items: center;

 padding: 10px;

 background: white;

 border-radius: 10px;

 gap: 12px;

 cursor: pointer;

 border: 1px solid #eee;

}


 

.board-card img {

 width: 60px;

 height: 60px;

 border-radius: 8px;

 object-fit: cover;

}


 

.board-name {

 font-size: 16px;

 font-weight: 500;

}


 

.create-board-btn {

 margin-top: 20px;

 width: 100%;

 padding: 12px;

 background: red;

 color: white;

 border-radius: 10px;

 border: none;

 font-size: 16px;

 font-weight: 600;

}