
.create-menu-overlay{

    position:fixed  !important;

    top: 0;

    left: 20;

    width: 100wh;

    height: 100vh;

    /* background: rgba(0, 0, 0, 0.2); */

    display: flex;

    justify-content: center;

    align-items: flex-start;

    padding-top: 120px;

    margin-left: 70px;

    z-index: 99999;

}




 

.create-menu{

    width: 350px;

    background: white;

    border-radius: 16px;

    padding: 20px;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);

    /* margin-left: 100px;

    margin-top: 100px; */

    position: relative;

    overflow: visible;

    z-index: 100000;

}


 

.close-btn{

    position: absolute;

    top: 12px;

    right: 12px;

    width: 26px;

    height: 26px;

    font-size: 16px;

    color: black;

    font-weight: bold;

    border: none;

    background: none;

    cursor: pointer;

    opacity: 0.6;

    display: flex;

    align-items: center;

    justify-content: center;

    z-index: 100001;

}


 

.close-btn:hover{

    opacity: 1;

}


 

.close-btn *{

    all: unset;

}


 

.create-menu h4{

    font-size: 20px;

    font-weight: 600;

    margin-bottom: 15px;

}


 

.menu-item{

    display: flex;

    gap: 12px;

    align-items: flex-start;

    padding: 12px;

    border-radius: 12px;

    cursor: pointer;

}


 

.menu-item:hover{

    background: #f1f1f1;

}


 

.menu-item img{

    width: 40px;

    height: 40px;

}


 

.title{

    margin: 0;

    font-weight: 600;

}


 

.desc{

    margin: 0;

    font-size: 13px;

    color: #555;

}



 

.create-header{

    display: flex;

    justify-content: space-between;

    align-items: center;

    /* margin-bottom: 15px */

}


 

.create{

    padding-top: 12px;

  display: flex;

  align-items: center;

  justify-content: center;

}